:root {
  --text: white;
  --background: rgb(47, 45, 45);
}

* {
  background-color: var(--background);
  color: var(--text);
}

.login {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  padding: 20px;
  background-color: rgb(67, 67, 67);
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.login form p, button {
  background-color: transparent;
}

.user-and-pass {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  gap: 15px;
}

.App {
  display: flex;
  flex-direction: column;
}

h1, h2 {
  text-align: center;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/* animmation for adding new todos */
@keyframes addTodo {
  0% {
      opacity: 0;
      transform: translatex(-100px);
      filter: blur(3px)
  }
  100% {
      opacity: 1;
  }
}

.todo {
  animation-name: addTodo;
  animation-duration: 1s;
  transition: all 0.3s  ease-in-out;
}

.completed .todo {
  background-color: rgb(26, 157, 32);
  .todoText {
    background-color: rgb(26, 157, 32);
  }
}

.todo {
  display: flex;
  background-color: rgb(10, 138, 70);
  padding: 0.5em 0.5em 0.5em;
  margin: 10px;
  border-radius: 15px;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.todo:hover {
  background-color: rgb(46, 117, 16);
  .todoText {
    background-color: rgb(46, 117, 16);
  }
}

.checkbtn {
  transform: scale(1.8); 
  margin: 10px; 
  cursor: pointer;
}

.todoText {
  background-color: rgb(10, 138, 70);
  transition: 0.3s ease-in-out;
}

.deleteBtn {
  border-radius: 10px;
}

.checked {
  text-decoration: line-through;
}

@media (min-width: 480px) {
  .todo {
    background-color: rgb(10, 138, 70);
    max-width: 400px;
    margin: 10px auto;
  }

}

@media (min-width: 800px) {
  .todo {
    max-width: 600px;
    margin: 10px auto;
  }

  .App {
    flex-direction: row;
  }

  .todos {
    width: 90%;
  }

  .completed {
    width: 50%;
  }
}